// VueJS 
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js' defer)
// VueJS - End 

// JQuery 
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js' defer)
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/jquery-lazy/jquery.lazy.min.js' defer)
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/jquery-mask-plugin/dist/jquery.mask.min.js' defer)
// JQuery - End 

// Materialize 
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/materialize-css/dist/js/materialize.min.js' defer)
// Materialize - End 

// DataTables 
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/datatables.net/js/jquery.dataTables.min.js' defer)
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/datatables.net-responsive/js/dataTables.responsive.min.js' defer)
// DataTables - End 

// Quill 
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/quill/dist/quill.min.js' defer)
// Quill - End 

// Firebase 
- var FIREBASE_VERSION = "6.3.1";

script(type='text/javascript' src='/__/firebase/' + FIREBASE_VERSION + '/firebase-app.js' defer)
script(type='text/javascript' src='/__/firebase/' + FIREBASE_VERSION + '/firebase-auth.js' defer)
script(type='text/javascript' src='/__/firebase/' + FIREBASE_VERSION + '/firebase-storage.js' defer)
script(type='text/javascript' src='/__/firebase/' + FIREBASE_VERSION + '/firebase-database.js' defer)
script(type='text/javascript' src='/__/firebase/' + FIREBASE_VERSION + '/firebase-performance.js' defer)

script(type='text/javascript' src='/__/firebase/init.js' defer)

script(type='text/javascript').
    !function(n,e){var t,o,i,c=[],f={passive:!0,capture:!0},r=new Date,a="pointerup",u="pointercancel";function p(n,c){t||(t=c,o=n,i=new Date,w(e),s())}function s(){o>=0&&o<i-r&&(c.forEach(function(n){n(o,t)}),c=[])}function l(t){if(t.cancelable){var o=(t.timeStamp>1e12?new Date:performance.now())-t.timeStamp;"pointerdown"==t.type?function(t,o){function i(){p(t,o),r()}function c(){r()}function r(){e(a,i,f),e(u,c,f)}n(a,i,f),n(u,c,f)}(o,t):p(o,t)}}function w(n){["click","mousedown","keydown","touchstart","pointerdown"].forEach(function(e){n(e,l,f)})}w(n),self.perfMetrics=self.perfMetrics||{},self.perfMetrics.onFirstInputDelay=function(n){c.push(n),s()}}(addEventListener,removeEventListener);
// Firebase - End

// Analytics 
script(src='https://googletagmanager.com/gtag/js?id=UA-144834380-1' defer)
script(type='text/javascript').
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-144834380-1');
// Analytics - End

// OneSignal 
link(rel='manifest' href='/manifest.json')
script(type='text/javascript' src='https://cdn.onesignal.com/sdks/OneSignalSDK.js' defer)
script(typer='text/javascript').
    var OneSignal=window.OneSignal||[];OneSignal.push(function(){OneSignal.init({appId:'71f7bd3c-15da-4a04-a0fd-2dadf8cdfc8b'});OneSignal.showNativePrompt();});
// OneSignal - End

// Script 
script(type='text/javascript' src='/assets/js/script.min.js' defer)
// Script - End 