doctype html
html
  include assets/include/head.pug
  meta(name='robots' content='noindex, nofollow')
  link(rel='stylesheet' href='/assets/css/dashboard.min.css' media='none' onload=MEDIA_CONDITION)

  body(style='background-image: url('+ BACKGROUND_IMAGE +'); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;')
    
    #loading-dashboard.pace.pace-active
      .pace-progress(data-progress="50" data-progress-text="50%" style="-webkit-transform: translate3d(50%, 0px, 0px); -ms-transform: translate3d(50%, 0px, 0px); transform: translate3d(50%, 0px, 0px);")
        .pace-progress-inner
      .pace-activity

    #app(style='display: none')

      header
        .navbar-fixed
          nav.blue
            .nav-wrapper
              a.brand-logo.center(href='') DEAF
              a.sidenav-trigger(href='#' data-target='side-nav')
                i.material-icons menu
              ul.right
                li
                  a(onclick='LoginDeslogar();')
                    i.material-icons logout
        ul#side-nav.sidenav.sidenav-fixed
          li.section.center.red.white-text
            img.responsive-img.circle.animated.infinite.heartBeat(src=LOGO_IMAGE width='100px')
            p
              i.material-icons.white-text.animated.jackInTheBox(style='vertical-align: text-bottom;') verified_user 
              | &nbsp; Bem-vindo, {{UserName}}!
            p
              i.material-icons.white-text.animated.jackInTheBox(style='vertical-align: text-bottom;') phone 
              | &nbsp; {{UserNumber}}
            p
              i.material-icons.white-text.animated.jackInTheBox(style='vertical-align: text-bottom;') stars 
              | &nbsp; {{UserNote}}
          li
            a(href='#' onclick="ChangePage('#menu')") Menu
              i.material-icons.right.grey-text.animated.swing dashboard
          li
            a(href='https://webmail.acaofilosofica.com/' target='_blank') Email
              i.material-icons.right.grey-text.animated.swing email
          li
            a(href='#' onclick="ChangePage('#alunos')") Alunos
              i.material-icons.right.grey-text.animated.swing face
          li
            a(href='#' onclick="ChangePage('#registros')") Registros
              i.material-icons.right.grey-text.animated.swing new_releases
          li
            a(href='#' onclick="ChangePage('#manutencao')") Postagens
              i.material-icons.right.grey-text.animated.swing description
          li
            a(href='#' onclick="ChangePage('#administradores')") Administradores
              i.material-icons.right.grey-text.animated.swing mood

      main.container(style='min-height: 100vh;')

        // Menu 
        section#menu.animated.bounceIn
          .col.s12.m7
            .card.video-container
              iframe#menu-video(type='text/html' width='640' height='360' allow='autoplay' frameborder='0' :src='VideoRandom')
          .col.s12.m7
            h3.header.white-text.truncate(style='height: 64px;') Aviso
            .card.horizontal
              img.responsive-img(src='/assets/image/nyancat.webp')
              .card-stacked
                .card-content
                  p Olá, eu sou um cartão muito simples e também sou bom em conter pequenos bits de informação.
                  p Fique sempre atento aqui para quando aparecer alguma novidade.
                  br
                  p
                    b - Irineu
                .card-action
                  a(href='') Acessar

        // Alunos 
        section#alunos.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Alunos
            a.btn-floating.btn-large.red.right.waves-effect.waves-light(onclick="ChangePage(AlunoPagina); ModificarKey('#aluno', null);  ModificarSource('#aluno-foto-imagem', GalleryImage);")
              i.large.material-icons add
          .card
            table.dt-responsive.striped.centered(style='width: 100%;' data-page-length='25')
              thead.white
                tr
                  th Nome
                  th Ano
                  th Colégio
                  th Grupo
                  th Nota
                  th Telefone
                  th Ação
                  th Ação
              tbody#alunos-lista
          p.white-text # Apenas aqueles sem liderança devem ser adicionados como Alunos...

        // Aluno 
        section#aluno.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Aluno
          .card
            .row
              form.col.s12(action='' onsubmit='EditarAluno(); ModificarKey("#aluno", null); ModificarSource("#aluno-foto-imagem", GalleryImage); return false;')
                .row.section.center
                  img#aluno-foto-imagem.circle(style='object-fit: cover;' src=GALLERY_IMAGE width='256px' height='256px')
                .row.center
                  label.btn.green(for='aluno-foto-arquivo') Escolher Foto
                  input#aluno-foto-arquivo(style='display: none;' type='file' accept='.png, .jpg, .jpeg, .jfif' onchange="EnviarArquivo('aluno-foto-arquivo', 'aluno-foto-imagem', '/alunos/')")
                .row
                  .input-field.col.s4
                    input#aluno-nome.validate(placeholder='Nome' type='text' required='' onchange='this.value = NomeMask(this.value)')
                  .input-field.col.s4
                    input#aluno-nota.validate(placeholder='Nota' type='number' min='0' max='40' required='' value='40' step='0.1')
                  .input-field.col.s4
                    input#aluno-telefone.validate(placeholder='Telefone' type='tel' required='')
                .row
                  .input-field.col.s4.m4
                    select#aluno-ano.browser-default(required='')
                      option(value='' disabled='' selected='') Ano
                      option(value='9° Ano') 9° Ano
                      option(value='1° Ano') 1° Ano
                      option(value='2° Ano') 2° Ano
                      option(value='3° Ano') 3° Ano
                  .input-field.col.s4.m4
                    select#aluno-colegio.browser-default(required='')
                      option(value='' disabled='' selected='') Colégio
                      option(value="Joana D'Arc") Joana D'Arc
                      option(value='Jorge Amado') Jorge Amado
                  .input-field.col.s4.m4
                    select#aluno-grupo.browser-default(required='')
                      option(value='' disabled='' selected='') Grupo
                      option(value='Tempo') Tempo
                      option(value='Fomento') Fomento   
                      option(value='Finanças') Finanças
                      option(value='Arrumação') Arrumação
                      option(value='Alimentação') Alimentação
                      option(value='Produção Técnica') Produção Técnica
                      option(value='Apoio Pedagógico') Apoio Pedagógico
                .row.center
                  .col.s4
                    a.waves-effect.waves-light.btn-large.blue(onclick='ChangePage("#alunos");') Voltar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.red(type='reset') Limpar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.green(type='submit') Salvar
          p.white-text # Apenas aqueles sem liderança devem ser adicionados como Alunos...

        // Registros 
        section#registros.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Registros
          .card
            table.dt-responsive.striped.centered(style='width: 100%;' data-order='[[ 0, "desc" ]]' data-page-length='100')
              thead.white
                tr
                  th Marca Temporal
                  th Registro
                  th Data
              tbody#registros-lista

        // Postagens 
        section#postagens.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Postagens
            a.btn-floating.btn-large.red.right.waves-effect.waves-light(onclick="ChangePage('#postagem'); ModificarKey('#postagem', null); ModificarSource('#postagem-foto-imagem', GalleryImage);")
              i.large.material-icons add
          .card
            table.dt-responsive.striped.centered(style='width: 100%;')
              thead.white
                tr
                  th Título
                  th Data
                  th Ação
                  th Ação
              tbody#postagens-lista

        // Postagem 
        section#postagem.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Postagem
          .card
            .row
              form.col.s12(action='' onsubmit='EditarAluno(); ModificarKey("#postagem", null); ModificarSource("#postagem-foto-imagem", GalleryImage); return false;')
                .row.section.center
                  img#postagem-foto-imagem(style='object-fit: cover;' src=GALLERY_IMAGE width='256px' height='256px')
                .row.center
                  label.btn.green(for='aluno-foto-arquivo') Escolher Foto
                  input#postagem-foto-arquivo(style='display: none;' type='file' accept='.png, .jpg, .jpeg, .jfif' onchange="EnviarArquivo('postagem-foto-arquivo', 'postagem-foto-imagem', '/alunos/')")
                .row
                  .input-field.col.s12
                    input#postagem-titulo.validate(placeholder='Título' type='text' required='' onchange='this.value = NomeMask(this.value)')
                .section.center
                  #editor
                .row.center
                  .col.s4
                    a.waves-effect.waves-light.btn-large.blue(onclick='ChangePage("#postagens");') Voltar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.red(type='reset') Limpar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.green(type='submit') Salvar

        // Administradores 
        section#administradores.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Administradores
            a.btn-floating.btn-large.red.right.waves-effect.waves-light(onclick="ChangePage('#administrador'); ModificarKey('#administrador', null); ModificarSource('#administrador-foto-imagem', GalleryImage); ResetarForm('#administrador form');")
              i.large.material-icons add
          .card
              table.dt-responsive.striped.centered(style='width: 100%;')
                thead.white
                  tr
                    th Nome
                    th Ano
                    th Colégio
                    th Grupo
                    th Nota
                    th Telefone
                    th Ação
                    th Ação
                tbody#administradores-lista
          p.white-text # Apenas aqueles com liderança devem ser adicionados como Administradores...

        // Administrador 
        section#administrador.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Administrador
          .card
            .row
              form.col.s12(action='' onsubmit='EditarAdministrador(); ModificarKey("#administrador", null); ModificarSource("#administrador-foto-imagem", GalleryImage); return false;')
                .row.section.center
                  img#administrador-foto-imagem.circle(style='object-fit: cover;' src=GALLERY_IMAGE width='256px' height='256px')
                .row.center
                  label.btn.green(for='administrador-foto-arquivo') Escolher Foto
                  input#administrador-foto-arquivo(style='display: none;' type='file' accept='.png, .jpg, .jpeg, .jfif' onchange="EnviarArquivo('administrador-foto-arquivo', 'administrador-foto-imagem', '/administradores/');")
                .row
                  .input-field.col.s4
                    input#administrador-nome.validate(placeholder='Nome' type='text' required='' onchange='this.value = NomeMask(this.value)')
                  .input-field.col.s4
                    input#administrador-nota.validate(placeholder='Nota' type='number' min='0' max='40' required='' value='40' step='0.1' data-value='40')
                  .input-field.col.s4
                    input#administrador-telefone.validate(placeholder='Telefone' type='tel' required='')
                .row
                  .input-field.col.s4.m4
                    select#administrador-ano.browser-default(required='' data-value='')
                      option(value='' disabled='' selected='') Ano
                      option(value='9° Ano') 9° Ano
                      option(value='1° Ano') 1° Ano
                      option(value='2° Ano') 2° Ano
                      option(value='3° Ano') 3° Ano
                      option(value='Irrelevante') Irrelevante
                  .input-field.col.s4.m4
                    select#administrador-colegio.browser-default(required='' data-value='')
                      option(value='' disabled='' selected='') Colégio
                      option(value="Joana D'Arc") Joana D'Arc
                      option(value='Jorge Amado') Jorge Amado
                      option(value='Irrelevante') Irrelevante
                  .input-field.col.s4.m4
                    select#administrador-grupo.browser-default(onclick='ResetarSelect("#administrador-grupo", 4, "Orientador")' onchange='MudarInput("#administrador-grupo", "Orientador", "Irrelevante", ["#administrador-nota", "#administrador-ano", "#administrador-colegio"]);' required='' data-value='')
                      option(value='' disabled='' selected='') Grupo
                      option(value='Líder') Líder
                      option(value='Vice-Líder') Vice-Líder
                      option(value='Orientador') Orientador
                      option(value='Desenvolvedor') Desenvolvedor
                .row.center
                  .col.s4
                    a.waves-effect.waves-light.btn-large.blue(onclick='ChangePage("#administradores");') Voltar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.red(type='reset') Limpar
                  .col.s4
                    button.waves-effect.waves-light.btn-large.green(type='submit') Salvar
          p.white-text # Apenas aqueles com liderança devem ser adicionados como Administradores...
        
        // Em Construção  
        section#manutencao.animated.bounceIn(style='display: none;')
          h3.header.white-text.truncate(style='height: 64px;') Em Manutenção
          .card
            .row.center
              img.responsive-img#manutencao-foto-imagem(style='object-fit: cover;' src=CONSTRUCTION_IMAGE height='512px')

      include assets/include/footer.pug

    include assets/include/foot.pug
